<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpp.shiro.dao.LoginDao">
    <!--    JSONObject getUser(@Param("username") String username, @Param("password") String password);-->

    <select id="getUser" resultType="com.alibaba.fastjson.JSONObject">
select
u.id userId,
u.username username,
u.password password,
u.nickname nickname
from example.sys_user u
WHERE
u.username =#{username}
and u.password =#{password}
and u.delete_status='1'
    </select>
</mapper>